<md-toolbar color="accent">
  <h1>Nonclassical D&D</h1>
</md-toolbar>
<md-tab-group>
  <md-tab label="Race">
    <div class="card-container">
      <md-card>
        <md-card-header>
          <md-card-title>Welcome!</md-card-title>
          <md-card-subtitle>Choose a race.</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          Each race has its own unique abilities and starting traits.
        </md-card-content>
      </md-card>
      <md-card *ngFor="let race of races">
        <md-card-header>
          <img md-card-avatar src="{{race.img}}" alt="{{race.name}} picture">
          <md-card-title>{{race.name}}</md-card-title>
          <md-card-subtitle><markdown [data]="race.background"></markdown></md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <markdown [data]="race.racial"></markdown>
          <div class="stat-table">
            <div class="stat-name-column stat-table-column">
              <span class="stat-name stat-text">Strength</span>
              <span class="stat-name stat-text">Dexterity</span>
              <span class="stat-name stat-text">Intelligence</span>
              <span class="stat-name stat-text">Wisdom</span>
            </div>
            <div class="stat-value-column stat-table-column">
              <span class="stat-value stat-text">{{race.stats.str}}</span>
              <span class="stat-value stat-text">{{race.stats.dex}}</span>
              <span class="stat-value stat-text">{{race.stats.int}}</span>
              <span class="stat-value stat-text">{{race.stats.wis}}</span>
            </div>
          </div>
        </md-card-content>
        <md-card-actions style="text-align: center">
          <button md-raised-button (click)="pickRace(race.name)" color="primary">CHOOSE {{race.name.toLocaleUpperCase()}}</button>
        </md-card-actions>
      </md-card>
    </div>
  </md-tab>
</md-tab-group>
