<md-toolbar color="accent">
  <h1>D&D</h1>
</md-toolbar>
<md-tab-group>
  <md-tab label="Race">
    <div class="card-container">
      <md-card>
        <md-card-header>
          <md-card-title>Welcome!</md-card-title>
          <md-card-subtitle>Choose a race.</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          Each race has its own unique abilities and starting traits.
        </md-card-content>
      </md-card>
      <md-card *ngFor="let race of races">
        <md-card-header>
          <img md-card-avatar src="{{race.img}}" alt="{{race.name}} picture">
          <md-card-title>{{race.name}}</md-card-title>
          <md-card-subtitle><markdown [data]="race.background"></markdown></md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <markdown [data]="race.racial"></markdown>
          <div class="stat-table">
            <div class="stat-name-column stat-table-column">
              <span class="stat-name stat-text">Strength</span>
              <span class="stat-name stat-text">Dexterity</span>
              <span class="stat-name stat-text">Intelligence</span>
              <span class="stat-name stat-text">Wisdom</span>
            </div>
            <div class="stat-value-column stat-table-column">
              <span class="stat-value stat-text">{{race.stats.str}}</span>
              <span class="stat-value stat-text">{{race.stats.dex}}</span>
              <span class="stat-value stat-text">{{race.stats.int}}</span>
              <span class="stat-value stat-text">{{race.stats.wis}}</span>
            </div>
          </div>
        </md-card-content>
        <md-card-actions style="text-align: center">
          <button md-raised-button (click)="pickRace(race.name)" color="primary">CHOOSE {{race.name.toLocaleUpperCase()}}</button>
        </md-card-actions>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Name">
    <div class="card-container">
      <md-card>
        <md-card-header>
          <md-card-title>Enter your name.</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-input-container>
            <input mdInput [(ngModel)]="character.name" placeholder="Name">
          </md-input-container>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button color="primary" (click)="chooseName()">CHOOSE NAME</button>
        </md-card-actions>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Stats">
    <div class="card-container">
      <md-card class="stats-card">
        <md-card-header>
          <md-card-title>Distribute your stat points</md-card-title>
          <md-card-subtitle>
            Points remaining: <code class="points-left">{{points}}</code>
          </md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <div class="stat-table">
            <div class="stat-name-column stat-table-column">
              <span class="stat-name stat-text">Strength</span>
              <span class="stat-name stat-text">Dexterity</span>
              <span class="stat-name stat-text">Intelligence</span>
              <span class="stat-name stat-text">Wisdom</span>
              <span class="stat-name stat-text">Luck</span>
            </div>
            <div class="stat-value-column stat-table-column">
              <span class="stat-value stat-text">{{getStat("str")}}</span>
              <span class="stat-value stat-text">{{getStat("dex")}}</span>
              <span class="stat-value stat-text">{{getStat("int")}}</span>
              <span class="stat-value stat-text">{{getStat("wis")}}</span>
              <span class="stat-value stat-text">{{getStat("luck")}}</span>
            </div>
            <div class="stat-modify-column stat-table-column">
              <span class="stat-modify stat-text">
                <span (click)="addPoint('str')"><md-icon>&#xE145;</md-icon></span>
                <span (click)="subtractPoint('str')"><md-icon>&#xE15B;</md-icon></span>
              </span>
              <span class="stat-modify stat-text">
                <span (click)="addPoint('dex')"><md-icon>&#xE145;</md-icon></span>
                <span (click)="subtractPoint('dex')"><md-icon>&#xE15B;</md-icon></span>
              </span>
              <span class="stat-modify stat-text">
                <span (click)="addPoint('int')"><md-icon>&#xE145;</md-icon></span>
                <span (click)="subtractPoint('int')"><md-icon>&#xE15B;</md-icon></span>
              </span>
              <span class="stat-modify stat-text">
                <span (click)="addPoint('wis')"><md-icon>&#xE145;</md-icon></span>
                <span (click)="subtractPoint('wis')"><md-icon>&#xE15B;</md-icon></span>
              </span>
              <span class="stat-modify stat-text">
                <span (click)="addPoint('luck')"><md-icon>&#xE145;</md-icon></span>
                <span (click)="subtractPoint('luck')"><md-icon>&#xE15B;</md-icon></span>
              </span>
            </div>
          </div>
        </md-card-content>
        <md-card-actions style="margin-top: -15px; margin-bottom: 10px; margin-left: 10px;">
          <button md-raised-button color="primary" (click)="chooseStats()">CONTINUE</button>
        </md-card-actions>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Weapon">
    <div class="card-container">
      <md-card>
        <md-card-header>
          <md-card-title>Choose your weapon.</md-card-title>
          <md-card-subtitle>This may seem like a petty step, but rest assured, your weapon choice is a huge deal.</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-input-container>
            <input mdInput [(ngModel)]="character.weapon" placeholder="Weapon">
          </md-input-container>
          <md-input-container class="description-container">
            <textarea mdInput placeholder="Description" class="description-textarea" [(ngModel)]="character.weaponDesc"></textarea>
          </md-input-container>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button color="primary" (click)="chooseWeapon()">CHOOSE WEAPON</button>
        </md-card-actions>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Finish">
    <div class="card-container">
      <md-card>
        <md-card-header>
          <md-card-title>Enter a background for your character and anything else the GM should know.</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-input-container class="description-container">
            <textarea mdInput placeholder="Background" class="description-textarea" [(ngModel)]="character.background"></textarea>
          </md-input-container>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button color="primary" (click)="finishEdit()">ALL DONE!</button>
        </md-card-actions>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Characters">
    <div class="card-container">
      <md-card class="mat-elevation-z10" *ngFor="let char of characters">
        <md-card-header>
          <img src="{{char.img}}" md-card-avatar>
          <md-card-title>{{char.name || "Name"}}</md-card-title>
          <md-card-subtitle>{{char.race}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <div class="char-content">
            <div class="stat-table">
              <div class="stat-name-column stat-table-column">
                <span class="stat-name stat-text">Strength</span>
                <span class="stat-name stat-text">Dexterity</span>
                <span class="stat-name stat-text">Intelligence</span>
                <span class="stat-name stat-text">Wisdom</span>
                <span class="stat-name stat-text">Luck</span>
                <span class="stat-name stat-text">Karma</span>
                <span class="stat-name stat-text copper-color">Copper</span>
              </div>
              <div class="stat-value-column stat-table-column">
                <span class="stat-value stat-text">{{getStat("str", char)}}</span>
                <span class="stat-value stat-text">{{getStat("dex", char)}}</span>
                <span class="stat-value stat-text">{{getStat("int", char)}}</span>
                <span class="stat-value stat-text">{{getStat("wis", char)}}</span>
                <span class="stat-value stat-text">{{getStat("luck", char)}}</span>
                <span class="stat-value stat-text">{{char.karma}}</span>
                <span class="stat-value stat-text copper-color">{{char.money.copper}}</span>
              </div>
            </div>
            <div class="racial-character">
              <markdown [data]="char.racial"></markdown>
              <ul>
                <li><strong>Weapon</strong>: {{char.weapon || "None"}}</li>
              </ul>
              <ul>
                <li><markdown [data]="char.weaponDesc"></markdown></li>
              </ul>
              <markdown class="bg-text" [data]="char.background"></markdown>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </md-tab>
</md-tab-group>

<md-card class="mat-elevation-z20 character-card" *ngIf="showChar" [ngClass]="getMinMaxClass('card')">
  <button md-icon-button class="char-card-min" (click)="toggleCardState()" [ngClass]="getMinMaxClass('button')"><md-icon>&#xE313;</md-icon></button>
  <md-card-header>
    <img src="{{character.img}}" md-card-avatar>
    <md-card-title>{{character.name || "Name"}}</md-card-title>
    <md-card-subtitle>{{character.race}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div class="char-content">
      <div class="stat-table">
        <div class="stat-name-column stat-table-column">
          <span class="stat-name stat-text">Strength</span>
          <span class="stat-name stat-text">Dexterity</span>
          <span class="stat-name stat-text">Intelligence</span>
          <span class="stat-name stat-text">Wisdom</span>
          <span class="stat-name stat-text">Luck</span>
          <span class="stat-name stat-text">Karma</span>
          <span class="stat-name stat-text copper-color">Copper</span>
        </div>
        <div class="stat-value-column stat-table-column">
          <span class="stat-value stat-text">{{getStat("str")}}</span>
          <span class="stat-value stat-text">{{getStat("dex")}}</span>
          <span class="stat-value stat-text">{{getStat("int")}}</span>
          <span class="stat-value stat-text">{{getStat("wis")}}</span>
          <span class="stat-value stat-text">{{getStat("luck")}}</span>
          <span class="stat-value stat-text">{{character.karma}}</span>
          <span class="stat-value stat-text copper-color">{{character.money.copper}}</span>
        </div>
      </div>
      <div class="racial-character">
        <markdown [data]="character.racial"></markdown>
        <ul>
          <li><strong>Weapon</strong>: {{character.weapon || "None"}}</li>
        </ul>
        <ul>
          <li><markdown [data]="character.weaponDesc"></markdown></li>
        </ul>
        <markdown class="bg-text" [data]="character.background"></markdown>
      </div>
    </div>
  </md-card-content>
</md-card>


